*{
	margin: 0;
	padding: 0;
}

.divprincipal{
	width: 500px;
	height: 700px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.titulo{
	background-color: #C7C1A6;
	border: solid 2px #D7CA8F;
	width: 100 100;
	height: 70px;
	text-align: center;
}

.textotitulo{
	font-size: 30px;
	margin-top: 15px;
}

.formulario{
	width: 100 100;
	height: 89%;
	background-color: #EBE8DD;
	border: solid 2px #D7CA8F;
}

.btn-success{
	width: 120px;
	height: 40px;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

.btncancelar{
	margin-top: -125px;
	margin-left: 620px;
	width: 120px;
	height: 40px;
}


