:root {
  --primary-color: #e5e5e5;
  --secondary-color: #c4c4c4;
  --font-color: #222;
  --bg-color: #fff;
  --nav-color: #323232;
}

[data-theme="dark"] {
  --primary-color: #666666;
  --secondary-color: #4c4c4c;
  --font-color: #e1e1ff;
  --bg-color: #222;
}
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}

.font-color {
  color: var(--font-color) !important;
}

.font-color--black {
  color: #222 !important;
}

.height--100 {
  min-height: calc(100vh - 3.5rem);
}

.vertical-menu {
  background-color: var(--primary-color);
  max-width: 7rem;
}

.vertical-menu__link {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 0;
  color: var(--font-color);
  border: 1px solid var(--secondary-color);
}

a:hover {
  text-decoration: none;
  color: var(--font-color);
}

.is-active {
  background-color: var(--secondary-color);
}

.link-icon {
  color: var(--font-color);
}

.vertical-menu__icon {
  font-size: 3rem;
}

.vertical-menu__title {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}
.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #66bb6a;
}

.switch__checkbox:focus + .switch__slider {
  box-shadow: 0 0 1px #66bb6a;
}

.switch__checkbox:checked + .switch__slider:before {
  transform: translateX(26px);
}

.switch__round {
  border-radius: 34px;
}

.switch__round:before {
  border-radius: 50%;
}

.secondary-color {
  background-color: var(--secondary-color);
}

.primary-color {
  background-color: var(--primary-color);
}

.bg-black {
  background-color: var(--nav-color);
}

.table-content {
  display: block;
  width: 100%;
  overflow-y: auto;
  max-height: 150px;
}

#tblTrayectos {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .vertical-menu__title {
    font-size: 0.6rem;
  }
  .vertical-menu__icon {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 411px) {
  .vertical-menu__title {
    font-size: 0.45rem;
  }
  .vertical-menu__icon {
    font-size: 2rem;
  }

  .switch {
    width: 40px;
    height: 24px;
  }

  .switch__slider:before {
    content: "";
    height: 16px;
    width: 16px;
  }

  .switch__checkbox:checked + .switch__slider:before {
    transform: translateX(16px);
  }
}
